# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Env
.env
*.local

# Node
node_modules/
frontend/dist/
frontend/.vite/
backend/tools/cs2_gc/node_modules/
backend/tools/cs2_gc/boiler/
backend/tools/cs2_gc/boiler-win.zip
backend/tools/cs2_gc/*.info


# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Uploads
uploads/
backend/uploads/
